body {
    background-color: #161b22;
    color: white;
    font-family: Ubuntu, serif;
}

div {
    padding-top: 5px;
    padding-bottom: 5px;
}
.profile-header {
    font-family: Rubik, sans-serif;
    padding: 0;
}

.profile-greet {
    font-size: 50px;
    padding: 0;
}

.profile-name {
    font-size: 25px;
    padding: 0;
}

.profile {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;

}

img#profilePic {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#icon {
    padding-left: 20px;
    padding-right: 20px;
    width: 35px;
    height: 35px;
}
